@import './_layout.scss';
@import './_variable.scss';

.hidden{
  display: none;
}



.popup-num{
  @extend .container;
  span{
    width: $popupCellSize;
    height: $popupCellSize;
    line-height: $popupCellSize;
  }
}